body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  width: 850px;
  margin: 1.5rem auto;
}

h1 {
  font-size: 3.375rem;
}
h3 {
  font-size: 2rem;
  line-height: 2rem;
}

p,
ul {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.625rem;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}

.menu {
  display: flex;
  list-style: none;
  gap: 2.375rem;
}

.menu_item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.menu_item.selected {
  text-decoration-line: underline;
  text-underline-offset: 0.35rem;
  text-decoration-thickness: 2px;
}

.menu_item:hover {
  color: #ee6a5f;
}

.main_image {
  width: 100%;
}

section:first-of-type {
  margin-top: 0;
}

.article_section {
  display: flex;
  gap: 4.625rem;
  margin: 4rem 0;
}

.col_text {
  flex: 3;
  line-height: 1.5rem;
}

.col_text > p {
  margin-bottom: 1rem;
}

.col_factoid {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.source_link {
  text-decoration: none;
  color: #205493;
  font-size: 0.75rem;
}

.source_link:hover {
  color: #ee6a5f;
}

.big_text {
  font-size: 2.625rem;
  color: #ee6a5f;
  font-style: normal;
}
.images_wool {
  display: flex;
  justify-content: space-between;
}

.images_wool > div,
.images_wool img {
  width: 250px;
}

.description {
  font-size: 0.75rem;
  line-height: 1rem;
}

.images_wool .description {
  margin-top: 1rem;
}

.large {
  font-size: 1.375rem;
  line-height: 1.875rem;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pubmed {
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.pubmed > a {
  margin-left: 1.3rem;
}
