body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  width: 850px;
  margin: 44px auto;
}

h1 {
  font-size: 54px;
  letter-spacing: 1px;
}
h3 {
  font-size: 32px;
  line-height: 38px;
}

p,
ul {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 128px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 64px;
}

.menu_item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.menu_item.selected {
  text-decoration-line: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}

.menu_item:hover {
  color: #ee6a5f;
}

.main_image {
  width: 100%;
}

section:first-of-type {
  margin-top: 0;
}

.article_section {
  display: flex;
  gap: 144px;
  margin: 64px 0;
}

.col_text {
  flex: 3;
  line-height: 25px;
  font-size: 18px;
}

.col_text > p {
  letter-spacing: 1px;
  margin-bottom: 20px;
  line-height: 25px;
  font-size: 18px;
}

.col_factoid {
  flex: 1.2;
  display: flex;
  flex-direction: column;
}
.source_link {
  text-decoration: none;
  color: #205493;
  font-size: 12px;
}

.source_link:hover {
  color: #ee6a5f;
}

.big_text {
  font-size: 54px;
  color: #ee6a5f;
  font-style: normal;
}
.images_wool {
  display: flex;
  justify-content: space-between;
}

.images_wool > div,
.images_wool img {
  width: 250px;
}

.description {
  font-size: 12px;
  line-height: 16px;
}

.images_wool .description {
  margin-top: 16px;
}

.large {
  font-size: 22px;
  line-height: 30px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pubmed {
  justify-content: flex-end;
  margin-bottom: 64px;
  flex: 1;
}

.pubmed > a {
  margin-left: 20px;
}
.big_text2 {
  font-size: 70px;
  color: #ee6a5f;
  font-style: normal;
}

.lanolin {
  gap: 64px;
  margin-bottom: 156px;
}

.lanolin > .col_factoid {
  margin-top: 44px;
  gap: 30px;
}
